@font-face {
  font-family: 'Sol';
  src: url('@/assets/sol.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@utility text-title {
  font-size: clamp(36px, 2rem + 2.5vw, 48px);
  line-height: clamp(44px, 2.5rem + 2.5vw, 64px);
}

@utility text-h1 {
  font-size: clamp(28px, 1.5rem + 1.75vw, 38px);
  line-height: clamp(34px, 1.8rem + 2vw, 56px);
}

@utility text-h2 {
  font-size: clamp(24px, 1.2rem + 1.5vw, 32px);
  line-height: clamp(30px, 1.5rem + 1.8vw, 48px);
}

@utility text-h3 {
  font-size: clamp(18px, 1rem + 0.75vw, 24px);
  line-height: clamp(24px, 1.25rem + 1.25vw, 40px);
}

@utility text-h4 {
  font-size: clamp(16px, 0.8rem + 0.75vw, 20px);
  line-height: clamp(22px, 1.1rem + 1.2vw, 36px);
}

@utility text-h5 {
  font-size: clamp(14px, 0.8rem + 0.5vw, 16px);
  line-height: clamp(20px, 1rem + 0.6vw, 32px);
}

@utility text-body {
  font-size: clamp(14px, 0.8rem + 0.25vw, 16px);
  line-height: clamp(20px, 1.1rem + 0.5vw, 24px);
}

@utility text-sm {
  font-size: clamp(12px, 0.7rem + 0.25vw, 14px);
  line-height: clamp(16px, 0.9rem + 0.5vw, 20px);
}
